@{
    ViewBag.Title = "Services";
}

<p>Services available on a contract basis.</p>

<address>
    100 East Commercail Blvd<br />
    Fort Lauderdale, FL 33334<br />
    <abbr title="Phone">P:</abbr>
    954.225.9911
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
